.bestSellers {
  margin-top: 120px;
}

.bestSellersItens {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  margin: 2.5rem auto;
  width: max-content;
}

.divisor  {
  width: 2px;
  background-color: var(--p07);
}