.bg {
  background: var(--p08);
  border-bottom: 2px solid var(--p07);
}

/* Container header */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  max-width: 1400px;
}

.logo {
  padding: 10px;
}

/* Container searchbar */
.searchBar {
  display: flex;
  align-items: center;
  border: 2px solid var(--p07);
}

.searchBar:has(input:focus) {
  outline: 2px solid rgba(204, 204, 204, 1);
  box-shadow: 0 0 12px rgba(204, 204, 204, 1);
}

.searchBar input {
  border: none;
  outline: none;
  padding: 15px;
  background: none;
}

/* Searchbar icon */
.searchBar img {
  width: 32px;
  height: 32px;
}

.searchBar button {
  margin-right: 8px;
}

/* links itens */
.linksItems {
  display: flex;
  gap: 1rem;
}

.linksItems a {
  position: relative;
}

.linksItems li a::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  background: var(--p07);
}

.linksItems li a:hover::before {
  width: 100%;
  transition: 0.3s;
}

.dropDownLinks {
  display: none;
}

.dropDownLinks ul {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.linksItems li:hover .dropDownLinks {
  display: block;
  position: absolute;
  background: var(--p08);
  padding: 20px;
}

/* icons itens */
.iconsItems {
  display: flex;
  gap: 1rem;
}

.iconsItems img {
  width: 32px;
  height: 32px;
}

.iconItem {
  padding: 5px;
}

.iconItem:hover {
  background-color: var(--p07);
}

@media (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    gap: 5px 20px;
  }
  .searchBar {
    grid-row: 2;
    grid-column: 1/-1;
  }
  .navLinks {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: max-content;
  }
  .navIcons {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }
  .navLinks {
    grid-column: 1/-1;
    justify-items: center;
  }
  .searchBar input {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo {
    grid-row: 2;
    grid-column: 1;
  }
  .navIcons {
    grid-row: 2;
    grid-column: 2;
  }
  .searchBar {
    grid-row: 4;
    grid-column: 1/-1;
    width: 100%;
  }
  .navLinks {
    grid-row: 5;
    grid-column: 1/-1;
    justify-self: center;
    font-size: 0.8rem;
  }
}
