.customSelect {
  position: relative;
  width: 12rem;
  font-family: 'Poppins';
}


.selectBox {
  border-bottom: 1px solid var(--g01);
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border 0.2s;
}

.selectBox.open {
  border-color: #007bff;
}

.selectBox .placeholder {
  color: #aaa;
}

.arrow {
  font-size: 12px;
  color: #333;
}

.selectOptions {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 100;
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.selected {
  background-color: #e6f0ff;
  font-weight: bold;
}
